<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to set the ArcGIS Server services that the proxy will forward to.
        mustMatch="true" - to only proxy to sites listed, false to proxy to any site.
        logFile="<file with local path>" - if specified, events will be written to the log file.
-->
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://tryitlive.arcgis.com/arcgis/rest/services/" matchAll="true"></serverUrl>
        <serverUrl url="http://arcgis4localgov2.maps.arcgis.com" matchAll="true"></serverUrl>
        <serverUrl url="http://tasks.arcgisonline.com/ArcGIS/rest/" matchAll="true"></serverUrl>
        <serverUrl url="http://www.arcgis.com/sharing/rest/" matchAll="true"></serverUrl>
        <serverUrl url="http://services.arcgis.com/8KEQHzVdm3qDSW1h/arcgis/rest/" matchAll="true"></serverUrl>
        <serverUrl url="http://services6.arcgis.com/Pu6Fai10JE2L2xUd/" matchAll="true"></serverUrl>
        <serverUrl url="http://services.arcgis.com/doC3DvW5p9jGtDST/arcgis/rest/" matchAll="true"></serverUrl>
        <serverUrl url="http://54.203.249.87/arcgis/rest/" matchAll="true"></serverUrl>
        <serverUrl url="http://52.26.253.224:6080/arcgis/rest/" matchAll="true"></serverUrl>
        <serverUrl url="http://geocode.arcgis.com/arcgis/rest/services/" matchAll="true"></serverUrl>
        <serverUrl url="http://geoenrich.arcgis.com/arcgis/rest/"
	         clientId=""
	         clientSecret=""
	         matchAll="true"
	         rateLimit="1000"
             rateLimitPeriod="10">
        </serverUrl>
        <serverUrl url="https://api-ssl.bitly.com/v3/shorten"
           matchAll="true"
           accessToken="09392d98805bea10e1a1ad5c8fd206b43985c6c0"
           tokenParamName="access_token"
           rateLimit="50"
           rateLimitPeriod="10">
        </serverUrl>
    </serverUrls>
</ProxyConfig>
